
body {
	font-size: 24px;
	font: Arial, Helvetica, sans-serif;
	line-height: 32px;
	color: #777777;
	background-image: url("../images/congruent_outline.png");
}
	 a:link {
    text-decoration: none;
    color: #777777;
	}

	a:visited {
    text-decoration: none;
    color: #777777;
	}

	a:hover {
    text-decoration: none;
    color: #777777;
	}

	a:active {
    text-decoration: none;
    color: #777777;
	}

.wrapper {
width:100%;
height:70px;
background: white;
position: fixed;
top: 0;
border-bottom: 25px, #4aaaa5;
z-index: 3


}

h1 {
	position: fixed;
	background: #4aaaa5;
	width: 325px;
	height: 50px;
	padding: 10px;
	margin: 0;
	left: 50;
	font-family: Georgia, Times, serif;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	}

nav {
	position: fixed;
	background: #FFFFFF;
	font: Arial, Helvetica sans-serif;
	font-size: 18px;
	text-decoration: none;
	width: 300px;
	height: 30px;
	padding: 20px;
	color: #000000;
	top: 0;
	right: 0;
}

span.navigationSpace {
    padding-left: 50px;
}

.left {
   float: left;
   padding: 0 20px 20px 0;
}

.pagebody {
	margin-top: 0px;
	height: 1500px;
	margin-bottom: 5%;
}


.about {
	position: absolute;
	width: 650px;
	height: 400px;
	background: white;
	top: 100px;
	margin-left: 50px;
	padding: 20px;
	border-width: 5px;
	border-color: #ffffff;
	text-align: left;
	
}

p {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 20px;
}

div.portfolio {
	position: absolute;
	overflow: auto;
	width: 650px;
	height: 800px;
	background: white;
	top: 100px;
	margin-left: 50px;
	padding: 10px;
	margin-bottom: 50px;
	border-width: 5px;
	border-color: #ffffff;
	text-align: left;
}

div.pictureblock {
	float: left;
	margin: 10px 10px 10px 10px;
	left: 15px;
	height: 200px;
	width: 300px;
}

figcaption {
	position: relative;
	bottom: 50px;
	font-size: 20px;
	width: 300px;
	background-color: #4aaaa5;
	text-align: center;
	color: white;
	font-style: bold;
}

form {
	position: absolute;
	width: 650px;
	height: 400px;
	background: white;
	top: 100px;
	margin-left: 50px;
	padding: 20px;
	margin-bottom: 50px;
	border-width: 5px;
	border-color: #ffffff;
	text-align: left;
}

#YourName {
	width:250px;
}

#emailaddress {
	width:250px;
}

#message {
	width:550px;
	height:100px;
}

textarea {
	width: 550px;
	height: 10em;
} 

button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #4aaaa5;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}
div.connect {
	position:fixed;
	overflow: auto;
	right: 25px;
	top: 100px;
	width: 270px;
	height: 150px;
	background: white;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 24px;
	text-align: center;
}

div.footer {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	padding: 10px;
	background: #f2f2f2;
	text-align: center;
	vertical-align: center;
	font-size: 12;
	font-color: #333333;
}
